.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Image-test{
  height: 100vh;
}

.page-title{
  font-size: x-large;
  font-weight: bold;
  
  margin-bottom: 10px;

}

.page-subtitle{
  text-decoration: underline;
  text-decoration-color: green;
}

.page{
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 50px;
}

.card-layout{
  border-block-color: green;
}

.card-title{
font-size: '1.25em';
 color: "blue";
 background-color: '#228B22'}
